.App {
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Gridrow{
  display: flex;
  flex-direction: row;
}

.Square {
    margin: 0.2em;
    min-width: 3em;
    min-height: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px 2px #a5a5a5bf;
    border-radius: 0.25em;
    font-size: 2em;
}

.Square:hover{
    background-color: #dcdcdcbf;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

